# Backend
backend/target/
backend/.mvn/
backend/.idea/
backend/*.iml

# Frontend
frontend/node_modules/
frontend/dist/

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/crash.log
infra/terraform/crash.*.log
infra/terraform/override.tf
infra/terraform/override.tf.json
infra/terraform/*_override.tf
infra/terraform/*_override.tf.json
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfvars

# OS / Editor
.DS_Store
.vscode/
.idea/
